body{
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 236);
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
}
.sub-header{
    height: 15vh;
    width: 100%;
    background-image: linear-gradient( rgba(41, 47, 53, 0.764)),url(banner4.jpg);
    background-position: center;
    text-align: center;
    color: #08f1a0;

}

nav{
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: #04cdf0;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #8cea11;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
.post-questions{
     width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 40px;
    font-weight: 600;
    
}

p{
     color: #2d1c1c;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px ;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.faq-col{
    flex-basis: 32%;
    background: #91e9d4;
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.faq-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.various-q{
    margin: auto;
     width: 80%;
    text-align: left;
    padding-top: 100px;
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 20px 12px;
}
.various-q ol li{
    margin: auto;
    font-weight:500;
    font-size: 20px;
}
footer{
    height: 7vh;
    color: #e9e3e3;
    background-color: #4be1aa;
}